@use "@/styles/_variable.scss" as var;
@use "@/styles/_mixin.scss" as m;

html {
  scroll-behavior: smooth;
  scroll-margin-top: var.$header-height+1em;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var.$color-background;
  color: var.$color-text;
}