// $breakpoint: (
//   sp: 'screen and (max-width: 767px)',
//   tab: 'screen and (min-width: 768px) and (max-width: 1023px)',
//   pc: 'screen and (min-width: 1024px)'
// )

$header-height: 3em;
$primary-color: palevioletred;
$secondary-color: white;
$tertiary-color: gray;