$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1023px)',
  pc: 'screen and (min-width: 1024px)'
);

$header-height: 3em;

// color palette
// https://paletton.com/#uid=1000u0kbxt+3oOZ77CMgyoYlDka
$color-primary: #ef9a99;
$color-light-1: #FFC6C6;
$color-light-2: #FFE4E4;
$color-dark-1: #C76060;
$color-dark-2: #A13434;

$color-secondary: #fedfaa;
$color-secondary-light-1: #ffe8c0;


$color-background: #F5F5F5;
// $color-background: #f3f2e9;

$color-text: #333333;
$color-text-light: #666666;
$color-text-white: #F5F5F5;
