
@use "@/styles/_variable" as var;

.wrapper {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
}

.username {
  color: var.$tertiary-color;
  font-size: 0.8em;
  padding-left: 0.5em;
}

.icon {
  object-fit: cover;
  border-radius: 50%;
}

.profile {
  padding-left: 1em;
  margin-right: auto;
}