@use "sass:math";
@use "@/styles/_mixin" as m;
@use "@/styles/_variable" as var;

.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  display: flex;
  justify-content: right;
  align-items: center;
  height: var.$header-height;
  background-color: var.$color-primary;
}

.title {
  margin-right: auto;
  padding: 1em;
  font-size: 1.2em;
  color: var.$color-text-white;
  font-weight: bold;
}

.navigation {
  padding: 1em;
  color: var.$color-text-white;
  font-weight: bold;

  // @include m.mq("tab") {
  //   display: none;
  // }
  @include m.mq("sp") {
    display: none;
  }
}