@use '@/styles/_variable.scss' as var;

.container {
  dl {
    margin-top: 0;
  }
}

.title {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.item {
  margin-top: 0.4em;
}

.date {
  font-weight: bold;
  font-size: 0.9em;
  color: var.$color-primary;
}