@use "@/styles/_mixin.scss" as m;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: 1024px;
  @include m.mq("tab") {
    width: 90%;
  }

  @include m.mq("sp") {
    width: 90%;
  }
}